.IndexCards {
    background-color: rgba(245, 245, 245, 0.118);
    border: 1px solid rgba(245, 245, 245, 0.118);
    display: inline-block;
    padding: 16px;
    font-size: 12px;
    text-align: center;
    margin: 16px;
    border-radius: 5px;
}

.IndexCards:hover {
    background-color: rgba(245, 245, 245, 0.2);
    border: 1px solid rgb(85, 26, 139);
    cursor: pointer;
}

.Images {
    height: 100px;
    width: 100px;
    border: 1px solid silver;
    border-radius: 50px;
    object-fit: cover;
}