.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputEle {
    outline: none;
    border: 1px solid darkgray;
    background-color: #E2E8EB;
    color: #0E0F1C;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.Invalid {
    border: 1px solid rgb(252, 30, 30);
    background-color: rgb(247,150,139);
}

.ErrorMsg {
    text-align: left;
    color: red;
    margin: 5px 0;
}