.Sidebar {
    position: fixed;
    display: flex;
    float: right;
    flex-flow: column;
    align-items: center;
    background-color: #0E0F1C;
    color: #E2E8EB;
    height: 100%;
    width: 20%;
}

.Top {
    height: fit-content;
    width: 100%;
    padding: 20px 0px;
}

.Bottom {
    width: 100%;
    padding: 60px 0px;/*20px 0px;*/
    flex-grow: 1;
}

@media (max-width: 700px) {
    .Sidebar {
        display: none;
    }
}