.Artists {
    text-align: center;
    color: #E2E8EB;
    width: 100%;
    height: 100%;
}
.Showcase {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.Item {
    flex: 1 0 21%;
}