body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  background-image: url(./assets/images/chameleon-background.jpg);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
